
<html>
    <head>
        <title>Test for Flask </title>
    </head>
<body>

<form action="api/getref" method="post">

    <p>
        user_id:    <input type="text" name="userId" size="100">
    </p>
    <p>
        img:        <input type="file" name="img" size="100">
    </p>

    <input type="submit" value="getref のテスト">
</form>

<form action="api/showref" method="post">
    <p>
        user_id:    <input type="text" name="userId" size="100">
    </p>
    <p>
        ref_id:     <input type="text" name="refId" size="100">
    </p>
    <p>
    <input type="submit" value="showref のテスト">
    </p>
</body>
</html>
